@model DiDo.Models.Entry

<div class="create">
    <h3>Entry Data</h3>

    <div class="entry-group">
        <label>Description</label>
        <span>@Model.Description</span>
    </div>

    <div>
        <a asp-action="Update" asp-controller="Entry" asp-route-id=@Model.Id>Edit Entry</a>
        <a asp-action="Delete" asp-controller="Entry" asp-route-id=@Model.Id>Delete</a>
    </div>
</div>